/* view_profile.css */

body {
    background-color: #fff;
    color: #444;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #000;
}

p {
    color: #666;
}

a {
    color: #0080ff;
}

a:hover {
    color: #005cb2;
}
