<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.campusnex.registrationuser.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <display-name>CAMPUS_NEX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationUser</display-name>
    <servlet-name>RegistrationUser</servlet-name>
    <servlet-class>com.campusnex.registrationuser.RegistrationUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationUser</servlet-name>
    <url-pattern>/RegistrationUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStudentServlet</display-name>
    <servlet-name>LoginStudentServlet</servlet-name>
    <servlet-class>com.campusnex.loginuser.LoginStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStudentServlet</servlet-name>
    <url-pattern>/LoginStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.campusnex.loginuser.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student_dashboard</display-name>
    <servlet-name>student_dashboard</servlet-name>
    <servlet-class>com.dashboard.student.student_dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_dashboard</servlet-name>
    <url-pattern>/student_dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>academic_detail</display-name>
    <servlet-name>academic_detail</servlet-name>
    <servlet-class>com.campusnex.loginuser.academic_detail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>academic_detail</servlet-name>
    <url-pattern>/academic_detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAcademicDetailsServlet</display-name>
    <servlet-name>UpdateAcademicDetailsServlet</servlet-name>
    <servlet-class>com.campusnex.academicdetails.UpdateAcademicDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAcademicDetailsServlet</servlet-name>
    <url-pattern>/UpdateAcademicDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAcademicDetailServlet</display-name>
    <servlet-name>UpdateAcademicDetailServlet</servlet-name>
    <servlet-class>com.campusnex.academicdetails.UpdateAcademicDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAcademicDetailServlet</servlet-name>
    <url-pattern>/UpdateAcademicDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAcdemicDetailsServlet</display-name>
    <servlet-name>InsertAcdemicDetailsServlet</servlet-name>
    <servlet-class>com.campusnex.academicdetails.InsertAcdemicDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAcdemicDetailsServlet</servlet-name>
    <url-pattern>/InsertAcdemicDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAcademicDetailsServlet</display-name>
    <servlet-name>InsertAcademicDetailsServlet</servlet-name>
    <servlet-class>com.campusnex.academicdetails.InsertAcademicDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAcademicDetailsServlet</servlet-name>
    <url-pattern>/InsertAcademicDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementProfileServlet</display-name>
    <servlet-name>PlacementProfileServlet</servlet-name>
    <servlet-class>com.campusnex.PlacementProfile.PlacementProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementProfileServlet</servlet-name>
    <url-pattern>/PlacementProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>com.campusnex.PersonalInfo.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/PersonalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.campusnex.PersonalInfo.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchDetailsServlet</display-name>
    <servlet-name>FetchDetailsServlet</servlet-name>
    <servlet-class>com.campusnex.studentlist.FetchDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDetailsServlet</servlet-name>
    <url-pattern>/FetchDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchProfileServlet</display-name>
    <servlet-name>FetchProfileServlet</servlet-name>
    <servlet-class>com.campusnex.studentlist.FetchProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchProfileServlet</servlet-name>
    <url-pattern>/FetchProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStatus</display-name>
    <servlet-name>CheckStatus</servlet-name>
    <servlet-class>com.campusnex.application.CheckStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStatus</servlet-name>
    <url-pattern>/CheckStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.campusnex.application.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentHelpServlet</display-name>
    <servlet-name>StudentHelpServlet</servlet-name>
    <servlet-class>com.campusnex.help.StudentHelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentHelpServlet</servlet-name>
    <url-pattern>/StudentHelpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHelpServlet</display-name>
    <servlet-name>AdminHelpServlet</servlet-name>
    <servlet-class>com.campusnex.help.AdminHelpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHelpServlet</servlet-name>
    <url-pattern>/AdminHelpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHelpServlet1</display-name>
    <servlet-name>AdminHelpServlet1</servlet-name>
    <servlet-class>com.campusnex.help.AdminHelpServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHelpServlet1</servlet-name>
    <url-pattern>/AdminHelpServlet1</url-pattern>
  </servlet-mapping>
</web-app>